.nfc-buttons .btn {
    background: #0f6ebb;
    color: white;
    border: 1px 1em;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    transition: all .2s ease;
    margin: 5px;
  }
  
  .styled-buttons .btn {
    background: #0f6ebb;
    color: white;
    width: 80px;
    height: 30px;
    border: 1px 1em;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    transition: all .2s ease;
  }
  
  @keyframes slide-in {
    0% {
      transform: translate(0, -10px);
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .nfc-buttons .btn:hover {
    background: #ffffff;
    color: black;
    border: 1px solid gray;
  }
  
  .styled-buttons .btn:hover {
    background: #ffffff;
    color: black;
    border: 1px solid gray;
  }
  
  
  .nfc-button {
    padding: 7px;
  }
  
  .nfc-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
  }
  
  .nfc-buttons .btn:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
    border: 1px solid gray;
  }

  .nfc-buttons .big {
    width: 300px;
    height: 60px;
  }

  .nfc-buttons .small {
    width: 150px;
    height: 30px;
  }

  .nfc-buttons .medium {
    width: 180px;
    height: 35px;
  }


  